---
layout: page
---
<style>  
  p a {
  text-decoration: underline;
  }
  
  h4 {
    text-align: center;
    font-weight: 700;  
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    border-bottom: solid #EAEAEA 1px;
    margin: 30px 0 20px 0;
    padding: 15px 0 35px 0;
}
 
 </style>

<h4>These are the projects I've been working on recently:</h4>

<div class="grid-container" style="margin: 55px 0 20px 0;">

    <div class="grid-child purple">
      <h5>VIDEO GAMES UI & UX CRITIQUES</h5>
        I play video games and I write about what I find well-executed or problematic about their UX, level design, and other parts of game design.</br>
        <span style="font-weight: bold; margin: 10px 0 0 0; align-content: right;"><a href="/tags/#uxdesign critique">Read more</a></span> 
    </div>

    <div class="grid-child green" style="box-shadow:
  0 7px 30px -10px rgba(150,170,180,0.5);">
        <img src="/assets/img/video-games.PNG">
    </div>
  
</div>

<div class="grid-container">

    <div class="grid-child purple">
      <h5>ALGORITHMS & POP CULTURE</h5>
        My research lies on the intersection of algorihtms and pop culture. You can read my recent thoughts, ideas, notes about all of it. PhD graduation ETA: 2024.</br>
         <span style="font-weight: bold; margin: 10px 0 0 0;  text-align: right;"><a href="/tags/#algorithms">Read more</a></span> 
    </div>

    <div class="grid-child green">
        <img src="/assets/img/algorithm.jpg">
    </div>
  
</div>

 <div class="grid-container">
    <div class="grid-child purple">
      <h5>ACADEMIC PROTIPS</h5>
         Hack and tips how to survive and thrive in academia, I wish someone told me sooner. From how to read, how to cite, and how to keep the work-life balance, these are the little hacks that have been working miracles for me.</br>
        <span style="font-weight: bold; margin: 10px 0 0 0;  text-align: right;"><a href="/tags/#academic%20protips">Read more</a></span>
    </div>

    <div class="grid-child green">
        <img src="/assets/img/student-tips.PNG">
    </div>
  
</div>

<div class="grid-container">

    <div class="grid-child purple">
      <h5>CREATIVE PROJECTS</h5>
         In my spare time, I tap into my creative well which makes my soul happy and world a bit nicer. I usually do water coloring and enviroment design in Unity. Here are just some of the projects I've made so far.</br>
         <span style="font-weight: bold; margin: 10px 0 0 0;  text-align: right;"><b><a href="">Read more</a></span> 
    </div>

    <div class="grid-child green">
        <img src="/assets/img/creative-work.PNG">
    </div>
  
</div>

